
/*
wn 可以用JQ解析,之后为其添加真正的显示属性,即把样式编码在 className里.
*/

.d1{
  background-color: pink;
}
.d2{
  background-color: yellow;
}

.w50{
  width: 50%;
}

.w100{
  width: 100%;
}

.b{
  display: block;
}

.ib{
  display: inline-block;
}

